* {
    margin: 0;
    padding: 0;
}

body {
    background:  #000;
    color: #666;
    text-align: center;
}

audio {
    width: 450px;
    margin: 30px 0;
}

.container {
    height: 420px;
    overflow: hidden;
}

.container li {
    height: 30px;
    line-height: 30px;
    transition: all 0.3 cubic-bezier(0.4, 0, 0.2, 1);
}

.container ul {
    transition: all 0.3s;
    list-style: none;
}

.container li.active {
    color: #fff;
    transform: scale(1.2);
}